* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;

    background-color: #000; /* nền dự phòng */
    background-image:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)),
        url("background.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    color: #fff;
}


/* Canvas */
#fireworks, #flowers {
    position: fixed;
    inset: 0;
    z-index: 0;
}

/* Nội dung */
.container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 30px;
}

.title {
    font-size: clamp(24px, 5vw, 42px);
    text-shadow: 0 0 15px gold;
}

.year {
    font-size: clamp(32px, 7vw, 60px);
    color: #ffd700;
    margin-top: 10px;
}

.lunar {
    font-size: clamp(20px, 4vw, 30px);
    margin-bottom: 25px;
}

.countdown {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background: linear-gradient(#ff3333, #cc0000);
    padding: 18px 22px;
    border-radius: 18px;
    min-width: 90px;
    box-shadow: 0 0 25px rgba(255,215,0,0.7);
}

.box span {
    font-size: clamp(28px, 6vw, 48px);
    font-weight: bold;
}

#musicBtn {
    margin-top: 30px;
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(45deg, gold, orange);
    font-weight: bold;
}
