/* PHÁO HOA */
#fireworks {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* HOA RƠI */
.flowers span {
  position: fixed;
  top: -50px;
  font-size: 24px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* NÚT NHẠC */
#musicBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background: #ffd700;
  color: #7a0000;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
