@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* h1 {
  font-weight: normal;
  font-size: 60px;
  margin: -150px 0 40px;
  color: yellow;
} */
.logo h1 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
}
.logo h1:nth-child(2) {
  margin-top: -95px;
  color: yellow;
  animation: anm 3s ease-in-out infinite;
}

@keyframes anm {
  0%,
  100% {
    clip-path: polygon(
      0% 0%,
      14% 0,
      27% 14%,
      40% 26%,
      53% 38%,
      67% 48%,
      80% 51%,
      100% 49%,
      100% 99%,
      0% 99%
    );
  }
  50% {
    clip-path: polygon(
      0 59%,
      14% 54%,
      30% 53%,
      45% 56%,
      57% 46%,
      66% 31%,
      78% 17%,
      100% 0,
      1000% 99%,
      0% 99%
    );
  }
}

.countdown {
  display: flex;
  transform: scale(2);
  color: aliceblue;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  .time {
    margin: 5px;
  }
  .time h2 {
    font-size: 12px;
  }
  .time small {
    font-size: 10px;
  }
}

.title {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  /* -webkit-text-stroke: 1px #fff; */
  color: transparent;
  background-image: linear-gradient(rgb(240, 237, 75), rgb(255, 255, 255));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -350px 0;
  animation: backcolor 3s linear infinite alternate;
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

.sound {
  position: absolute;
  top: 90%;

  background-image: none;
}
